* {
	margin: 0px;
	padding: 0px;
}
a {
	outline: none;
	text-decoration: none;
}
img {
    border: 0px;
    max-width: 100%;   
    
}
table {
	border-spacing: 0px;
	border-collapse: collapse;
}

@font-face {
    font-family: 'Khand', sans-serif;
    src: url('PTSans-Regular.svg#PTSans-Regular') format('svg'),
         url('PTSans-Regular.ttf') format('truetype'),
         url('PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
 min-width: 219px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 16px 7px;
margin: 20px 0 0 -4px;

  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
  
.blueha h1, .blueha h2{
    color: #325BA3;
}    
.darkbg h1, .darkbg h2, .darkbg h3, .darkbg h4, .darkbg h5, .darkbg h6 { font-family: 'Khand', sans-serif;     font-weight: 900;    color: #393185;}
h1, h2, h3, h4, h5, h6 { font-family: 'Khand', sans-serif;     color: #000;}
h1{}
h2{    font-size: 32px;    font-weight: bold;    line-height: 33px;   margin-bottom:20px;}
h3{}
h4{font-size: 22px;   font-weight: bold;     line-height: 29px;   margin-bottom: 4px;}
h5{  font-size: 30px;}
h6{}

body {
	color: #000;
	font-weight: normal;
    background-color: #ebecec;
    font-family: 'Khand', sans-serif;
    font-size: 16px;
}
.left_1{
    text-align: left;
}

p{
   font-family: 'Open Sans', sans-serif;
 
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    }
    .blueha{
        color: #325BA3;
    }
    .blackha{
        clear: #000;
    }
    .darkbg {    background: #FFCC00;    color: #000;}
    .whitebg {    background: #fff;    color: #000;}
    .blackbg {    background: #000;    color: #fff;}

    .lightbg {    background: #ebecec;     color: #333;}
    .align-center {    text-align: center;}
    .align-right {    text-align: right;}
    .margin-top{margin-top: 20px;}
    .margin-bottom{margin-bottom: 20px;}
    .padding-top-mid{padding-top: 40px}
    .padding-bottom-mid{padding-bottom: 40px}
    .padding-top-full{padding-top: 153px}
    .padding-bottom-full{padding-bottom: 96px}
    .margin-top-mid{margin-top: 40px;}
    .no-margin-bottom{margin-bottom: 0px;}

    .border-bottom {    border-bottom:1px solid #FFCC00 !important;}
	section#page-content {   margin-top: 88px;}

    header#header { background: #FFCC00;     position: fixed;  z-index: 99;    left: 0;    right: 0;    top: 0;}
    .logo { position: absolute; bottom: 4px;}
    .main-menuwrap { float: right;     padding:45px 0px 0px 0px;}
    ul.main-menu { list-style: none; float: left;}
    ul.main-menu li { float: left; padding: 0px 10px;}
    ul.main-menu li a { color: #000; text-decoration: none; font-family: 'Open Sans', sans-serif; font-weight: bold;}    
    a.donatebutton { float: left; border: 1px solid #fff; border-radius: 5px; font-size: 80%; padding: 1px 10px; color: #333; font-weight: 600; margin: 0px 15px;  list-style: none;}
ul.sociallinks { float: left; list-style: none;}
ul.sociallinks li { float: left; padding: 5px 8px;}
ul.sociallinks li a {  color: #fff;}
ul.sociallinks li img { height: 17px;   display: block;}
.banner-wrap {  padding: 0; overflow: hidden; position: relative;}
.videoholder { position: relative; width: 100%; height: 600px;}
.fluid-width-video-wrapper { width: 100%; position: relative; padding: 0;}
.videoholder video { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.video-overlay { float: left; position: absolute;bottom: 0; width: 100%; top: 0;  left: 0;  right: 0;    background: rgba(0, 0, 0, 0.4); }
.video-wrap {     margin-top: 15%; margin-left:40px; margin-right:40px;    height: 100%;}
.video-overlay h2 {    color: #f8b901; font-size: 380%; text-transform: uppercase;  font-weight: 700;  line-height: 64px; margin:0px;}
.video-overlay h4 { color: #fff;  text-transform: uppercase;  font-weight: 700;  font-size: 120%;}
.video-overlay h3{  color: #fff; text-transform: uppercase;  font-weight: 700; font-size: 150%;}
.video-overlay h3 span {  font-size: 130%;}
.video-wrap ul { margin: 0; padding: 0; list-style: none;  width: 100%;  display: inline-block;}
.video-wrap ul li { color: #fff; float: left;  padding-right: 30px; font-weight: 700;  font-size: 120%;}
.video-wrap ul li:last-child { float: right;}



.countrylist ul { margin: 0px 0px 40px 20px; float: left; padding: 0px 60px 0px 0px;}
.countrylist p {  clear: both; }

.page-trail-wrap { width: 70%;    max-width: 70%;    margin: 0px auto;}
.workshops {
    border-radius: 0px;
    background: #fff;
    height: 300px;
    margin-top: -23px;
    margin-left: 26%;
    margin-right: -24%;
    text-align: center;
    padding: 118px 0px 80px 0px;
    flex: 0 0 23.333333%;
}

.margin-l{
    margin-left: -5px;
}
.margin-2{
    margin-left: -5px;
}
.workshops1 {
    border-radius: 0px;
    background: #fff;
    height: 300px;
    margin-top: -23px;
    margin-left: 26%;
    margin-right: -24%;
    text-align: center;
    padding: 93px 0px 80px 0px;
        flex: 0 0 23.333333%;
}
.timelinecontent { 
    border-radius: 0px; 
    background: #fff; 
    margin-top: -23px;  
    margin-left: 145px;    
    margin-right: -121px;  
    text-align: center;    
    padding: 120px 0px 30px 0px;
}/* Responsive */
.disp{
    display:none;
}
ul.trailbox {   list-style: none;  flex-wrap: wrap;  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin:40px 0px 0px;
    
}
#color-font{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000;
}
.champion {
    border-radius: 0px;
    margin-top: -23px;
    margin-left: 145px;
    margin-right: -121px;
    text-align: center;
    padding: 120px 0px 30px 0px;
}
.champion span.date {
    color: #000;
    padding-bottom: 20px;
    padding-top: 20px;
    display: inline-block;
    font-size: 95%;
}
.BIM {
    width: 19%;
    height: 60px;
    margin-right: 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    border-radius: 7px;
    background-color: #EB8229;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}.EDA {
    width: 19%;
    height: 60px;
    margin-right: 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    border-radius: 7px;
    background-color: #E84A6C;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.SALESFORCE {
    width: 19%;
    height: 60px;
    margin-right: 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    border-radius: 7px;
    background-color: #ED764E;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.DESIGN {
    width: 19%;
    height: 60px;
    margin-right: 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    border-radius: 7px;
    background-color: #634694;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.Designathon {
    width: 15%;
    height: 60px;
    margin-right: 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    border-radius: 7px;
    background-color: #EB8229;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.Hackathon{
    width: 15%;
    height: 60px;
    margin-right: 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    border-radius: 7px;
    background-color: #E84A6C;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;  
    }.Makeathon{
      width: 15%;
    height: 60px;
    margin-right: 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    border-radius: 7px;
    background-color: #634694;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;  
}.Gameathon{
    width: 15%;
    height: 60px;
    margin-right: 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    border-radius: 7px;
    background-color: #ED764E;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;  
}.Buildathon{
     width: 15%;
    height: 60px;
    margin-right: 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    border-radius: 7px;
    background-color: #F1B833;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;  
}
.main-menu {
    
    padding:4px 0px 0px 0px;
}
.padding-top {
    padding-top: 50px;
}
.col-md-6{

} 
.col-md-3{
    position: relative;
    width: 64px;
    height: 300px;
    min-height: 4px;
    padding-right: 15px;
    padding-left: 15px;
}
 .f1{
    position: relative;
    width: 64px;
    height: 30px;margin-bottom: 10px;
    min-height: 4px;
    padding-right: 15px;
    padding-left: 15px;
}.display{
    display: none;
}
.padding-top-new1{
     padding-top:10px;
    
}
.contest {
    border-radius: 0px;
    background: black;
    margin-top: 196px;
    margin-left: 145px;
    margin-right: -121px;
    padding: 20px 21px 62px 90px;
}
#center{
      margin-left: 488px;  
}
.padding-bottom {
    padding-bottom: 50px;
}
.submit {
    border-radius: 0px;
    background: none;
    margin-left: 130px;
    margin-right: -89px;
    padding: 32px 81px 50px 72px;
}.yell{
    color: #F1B833;
}
.pinka{
    color: #E84A6C;
}.wrap {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line{
    border-left:1px solid #fff;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #E84F6A;
  border: none;
  box-shadow: 7px 7px #000;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.speaker{
    border-radius: 0px;
    background: none;
    margin-left: 84px;
    margin-right: 0px;
    padding: 32px 0px 50px 39px;
}
.floatleft{
    float: right;
}
.font{
    font-size: 47px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 20px;
    
}
a:hover {
    color: #eb8129;
    text-decoration: underline;
}

h5{
    margin-bottom: -0.5rem;
}
/** Box PC Changes **/

.box {
    
    border-radius: 0px;
    background: #fff;
    max-width: 38.666667%;
    margin-top: -23px;
    margin-left: 130px;
    margin-right: -106px;
    
    padding: 33px 14px 30px 40px;
}

.margin{
    margin-top: 25px;
}
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    /*margin-left: 10%;*/
}
.orange{
    background-color: #EB8129;
}
.pink {
    background-color: #E64B6D;
}
.lightorange {
    background-color: #ED764E;
}
.yellow {
    background-color:#F1B833;
}
.white{
    color: white;
}
.kathari {
    background-color: #65478F;
}

ul.trailbox li {
    flex: 1; /* fg: 0, fs: 0, fb: 100% */
}
.timelinecontent span.date {  color: #000;    padding-bottom: 20px;    display: inline-block;    font-size: 95%;}
.page-trail-wrap h3{font-size:170%; font-weight:700;}
.roar-crew-wrap ul { list-style: none; margin: 0; padding: 0; flex-wrap: wrap;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 30px;
}

.roar-crew-wrap ul li { padding-right: 20px;}
.roar-crew-wrap ul li h5 {font-weight: 700; margin: 0;}
.roar-crew-wrap ul li p {    margin: 0;}
.roar-crew-wrap ul li:last-child{position:relative;padding-bottom: 10px;}
.roar-crew-wrap ul li:last-child::after{ content: ""; width: 30px; border-bottom: 1px solid #babbbb; height: 1px;
    position: absolute;    bottom: 0;}
.subscribeform .input-group { margin: 40px auto 20px; display: table;}
.subscribeform .input-group input#email { border: 1px solid #000; margin-right: 10px; width: 60%; text-align: left; font-size: 90%; padding: 10px 20px; border-radius: 10px;}
.subscribeform button.btn.btn-info { background: #000; border: none; font-size: 100%; padding: 8px 30px;    border-radius: 10px;}
@media (min-width: 1400px){
}

@media(min-width: 1200px) {
    .fullContainer{width: 90%; max-width: 90%;}

}

@media(min-width: 992px) and (max-width:1199px) {

ul.main-menu li{padding:0px 5px;}
.videoholder{height:100%;}
}

@media(min-width: 992px) {   
    .container-fluid {        width: 100% !important;    }
    .countrylist .right p img{margin-top: -60px;}
    #video{display:block;}
    button.burger, #videosubstitute,   .mobile-links{display:none;}
	ul.main-menu{display:block !important;}
}


@media(min-width: 0) and (max-width:991px) {
    .row{
            margin-right: 0px;
            text-align: center;
    }
    .box {
    border-radius: 0px;
    background: #fff;
    max-width: 100%;
   
    margin-top: -22px;
    margin-bottom: 69px;
    margin-left: 0;
    margin-right: 0;
    padding: 33px 0px 30px 0px;
}.floatleft {
    float: right;
    padding-right: 24px;
}
.line{
    border-left:none;
}.submit {
    border-radius: 0px;
    background: none;
    margin-left: -40px; 
    margin-right: 0; 
    padding: 0px 81px 16px 72px;
}
.display1{
    display: none;
}
.wrap1 {
    /* float: left; */
        margin-left: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2,  .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,  .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2,  .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 100px;
}
.center{
    display: none;
}
.image{
        max-width:68%;
    }
.col-md-5{
     position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0px;
}
    .darkbg h1{
        font-size: 58px;
    }
    p{
        text-align: left;
    }
    .padding-top-full, .padding-top-mid{padding-top: 120px; padding-bottom: 0px;}
    .padding-bottom-full, .padding-bottom-mid{padding-bottom: 20px}
    .burger {width: 30px;height: 20px;outline: none;z-index: 10000;cursor: pointer;	position: relative;	border-color: #fff;	border-style: solid;
        border-width: 3px 0;	box-sizing: border-box;	background-color: transparent; float:  right;	margin: 30px 0px 15px;	outline:  none;}
        .burger:after {	left: 0;	top: 5px;content: '';	width: 100%;	height: 3px;	outline: none;	position: absolute;background-color: #fff;}
        #main-menu {  display: block;   width: 50px; height: 60px;
            text-indent: -10000px;  float: left; background-size: 85%;   position: absolute;  bottom: 0;  right: 15px  }
        #main-nav { padding-top: 0;   position: absolute;   width: 100%;    top: 90px;        z-index: 14;        right: 0    }
        #main-nav ul { padding: 0  }
        #main-nav>ul { display: none;      width:100%;  background: #000    }
        #main-nav>ul a {   color: #fff;    display: block;   padding: 10px;   text-decoration: none; }
        #main-nav>ul>li>a { border-bottom: 1px solid #fff; }
        #main-nav>ul li { display: block;     width:100%;    position: relative    }
        #main-nav>ul>li>ul { display: none    }
        #main-nav>ul>li>ul>li>ul {        display: none   }
        #main-nav li:before,#main-nav li:after {     content: "";   display: table  }
        #main-nav li:after {  clear: both }
        #main-nav>ul>li>ul>li a {  color: #fff  }    
        .logo{bottom:10px;}
        #main-nav .sociallinks, #main-nav .donatebutton{display:none;}
        .mobile-links { float: right; padding: 19px 108px 0px 0px; margin-right: -50px;}
        .videoholder{height:100%; }
        .video-overlay{position: relative; background:#000;}
        .video-wrap{margin:0; padding:30px;}
        a.donatebutton{margin:0px 5px 0px 0px}
        ul.sociallinks li{padding:5px;}
        .page-trail-wrap{width:90%; max-width: 90%;}
         /** Social Links - Display Mobile ***/
        ul.sociallinks{display: none;}
		/** Menu - Padding Mobile ***/
        .main-menuwrap{padding: 5px 15px 0px 0px;}
		.logo img {    margin-bottom: -5px;
    padding: 0px 0px 0px 0px;
   
    width: 38%;}
    }


@media(min-width: 767px) and (max-width:991px) {
}

@media(min-width:441px) and (max-width:731px) {
    .contest {
    border-radius: 0px;
    background: black;
    margin-top: -116px;
    margin-left: 37px;
    margin-right: 125px;
    padding: 32px 81px 70px 72px;
}
}


@media(min-width: 0) and (max-width:0) {
}

/** New CSS **/

.section1 {
    margin-top: 125px; 
    margin-left: -40px;
}

#content_padding {
    padding-left: 32px;
    font-size: 28px;
        text-align: center;
}

#content_padding1{
    padding-left: 28px;
}
#content_padding_h {
    padding-left: 31px;
    padding-top: 8px;
    font-size: 44px;
}

#content_padding_p {
    padding-left: 50px;
    font-size: 15px;
        margin-left: -20px;
}

.padding-top-new {
    padding-top: 113px;
}

.gap_box {
    display: block;
}

.partners_pc {
        display: block;
}

.display_pc {
        display: block;
}

.partners_mobile {
        display: none;
}

.display_mobile {
        display: none;
}

.container-new{
    width:100%;
    background-color:#CCC;
    height:20px;
    text-align: center;
}
ul{
    display:inline-block;
}
li{
    display:inline-block;
}

.padding_ul {
    padding: 20px 10px 10px 10px;
    margin-left: -80px;
}

.padding_ul li{
    padding: 5px;
}
.padding-1{
    padding-top: 20px;

}

#content_padding_new {
    width: 100%;
}

.designation {

}

.pc_banner {
    display: block;
}

.mobile_banner {
    display: none;
}

.box_sub_content {
    font-family: 'Open Sans', sans-serif;
}

.box_sub_content_img {
    width: 10px; height: 10px;
}

#color_box_contents {
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px; 
    color: #000;
}

#designation {
    margin-bottom: 0px; 
    font-family:  'Open Sans', sans-serif; 
    font-size: 20px;
}

#company_speakers {
    font-family:  'Open Sans', sans-serif; 
    font-size: 13px;
}

#designathon_div {
    margin-left: 50px; 
    margin-right: 20px; 
    border-radius: 8px; 
    margin-bottom: 5px; 
    background-color: #EB8229;

}

#hackathon_div {
    margin-left: 50px; 
    margin-right: 20px; 
    border-radius: 8px; 
    margin-bottom: 5px; 
    background-color: #E84A6C;
}

#gameathon_div {
    margin-left: 50px; 
    margin-right: 20px; 
    border-radius: 8px; 
    margin-bottom: 5px; 
    background-color: #ED764E;
}

#buildathon_div {
    margin-left: 50px; 
    margin-right: 20px; 
    border-radius: 8px; 
    margin-bottom: 5px; 
    background-color: #F1B833
}


#makeathon_div {
    margin-left: 50px; 
    margin-right: 20px; 
    border-radius: 8px; 
    margin-bottom: 5px; 
    background-color: #634694;
}


@media(min-width: 0) and (max-width:767px) {
    .section1 {
    margin-top: 180px; 
    margin-left: -100px;
    margin-right: 30px;
}
.padding-top1{
    padding-top: 0px;
}
    .padding-top-new {
    padding-top: 50px;
}
    .contest {
    border-radius: 0px;
    background: black;
    margin-top: -116px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 32px 81px 70px 72px;
}
.workshops { 
       border-radius: 0px;
    margin-top: 0px;
    margin-left: 14px;
    margin-right: 12px;
    text-align: center;
    padding: 120px 0px 30px 0px;
    margin-bottom: 20px;
}
.workshops1 { 
    border-radius: 0px; 
    margin-top: 0px;  
    margin-left: 14px;
    margin-right: 12px;
    text-align: center;    
    padding: 95px 0px 80px 0px;
    margin-bottom: 20px;
}
    .timelinecontent { 
    border-radius: 0px; 
    margin-top: 0px;  
    margin-left: 14px;
    margin-right: 12px;
    text-align: center;    
    padding: 120px 0px 30px 0px;
    margin-bottom: 20px;
}
.champion { 
    border-radius: 0px; 
    margin-top: 0px;  
    margin-left: 14px;
    margin-right: 12px;
    text-align: center;    
    padding: 120px 0px 30px 0px;
    margin-bottom: 20px;
}
    .gap_box {
    display: none;
}
    #center{
      margin-left: -51px;  
}
    .content_price {
        margin-left: -51px;
    }
    .speaker{
    border-radius: 0px;
    background: none;
    margin-left: -30px;
    margin-right: 0px;
    padding: 32px 0px 0px 72px;
}
    .heading_speaker {
        margin-left: -48px;
    }

    .partners_pc {
        display: none;
    }

    .display_pc {
        display: none;
    }

    .partners_mobile {
        display: block;
    }

    .display_mobile {
        display: block;
    }

    .white_section {
        margin-top: 80px;
        
    }

    .organiser_font {
        font-size: 60px;
        margin-left: -40px;
    }
    .image{
        max-width:68%;
    }

    .organiser_font_m {
        font-size: 60px;
        margin-left: -88px;
    }

    #content_padding_p {
       font-size: 13px;
    text-align: justify;
        margin: 1px 1px 1px -18px;
}
    .pc_banner {
    display: none;
}
    .mobile_banner {
    display: block;
    margin-top: 100px;
}
.h3, h3 {
       font-size: 40px;
}
h4{
    text-align: left;
}
h2{
    font-size: 25px;
    font-weight: 900;
    line-height: 29px;
}
.container-fluid {
    width: 100%;
    padding-right: 29px;
    padding-left: 29px;
    margin-right: auto;
    margin-left: auto;
}
.Designathon {
    width: 100%;
    height: 60px;
    margin-right: 17px;
    margin-left: -70px;
}

.Hackathon{
    width: 100%;
    height: 60px;
    margin-right: 17px;
    margin-left: -70px;
}

.Gameathon{
    width: 100%;
    height: 60px;
    margin-right: 17px;
    margin-left: -70px;
}

.Buildathon{
    width: 100%;
    height: 60px;
    margin-right: 17px;
    margin-left: -70px; 
}

.Makeathon{
    width: 100%;
    height: 60px;
    margin-right: 17px;
    margin-left: -70px;  
}
.margin-l{
    margin-left: 24px;
}
.margin-2{
     margin-left: 42px;
}

.padding-top2{
    padding-top: 20px;
}
.workshop_heading {
    margin-left: -67px;
}
.padding-top-new1{
     padding-top: 50px;
    
}
.workshop_paragraph {
    margin-left: -67px;
}

#image_alignment {
    margin-top: 0px;
}

#button_alignment {
    margin-top: 30px;    
}

.section2{
    width: 100% !important;
    margin: auto;
 }
.container1{

}
.div1{ padding: 0; }
.row1{ margin: auto !important; }
}

}